@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

html, body {
  font-size:12px;
  font-family: 'Roboto';
  font-weight: 300;
  background: #EEEEEE;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: scroll;
  overflow-y: hidden;
  padding-right: 1rem;
}


#app {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: calc(100vh - 2rem);

}

#app > li {
  margin: 1rem 0 0 1rem;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

#app > .link-item {
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex: 0 1 auto;
}

#app > li > h1 {
  margin-bottom: 0;
}

#app > li > ul {
  overflow-y: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
}

#app > li > ul > .sublist-title:not(:last-child) {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 2rem;
}

.sublist-title .sublist-title .sublist-title {
  margin-left: 2.3rem;
  padding-left: 1rem;
  position: relative;
  border-left: 1px solid #e0e0e0;
}

.sublist-title .sublist-title .sublist-title ul,
.sublist-title .sublist-title .sublist-title ul li:not(.sublist-title),
.sublist-title .sublist-title .sublist-title ul li a,
.sublist-title .sublist-title .sublist-title h1 {
  margin-left: 0;
}

.sublist-title .sublist-title .sublist-title ul,
.sublist-title .sublist-title .sublist-title ul li:not(.sublist-title),
.sublist-title .sublist-title .sublist-title h1 {
  padding-left: 0;
}

.sublist-title .sublist-title .sublist-title h1 {
  font-weight: 400;

}

ul {
  font-size: 0.8em;
  list-style: none outside none;
  padding: 0;
}

li li {
  margin-bottom: 0.5rem;
}

ul ul {
  margin-bottom: 2rem;
}

h1 {
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
  background: #2196F3;
  margin:0 0 1rem 0;
  padding: 1rem 2rem;
}

p {
  padding: 1rem 2rem;
  font-size: 1.3rem;
}

ul ul h1 {
  background: none;
  color: #2196F3;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 0 1rem;
}

ul ul ul h1 {
  font-size: 1.2rem;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  padding: 0 2rem;
  margin-left: 2rem;
  color: rgba(0,0,0,.87);
  max-width: 300px;
  line-height: 1.4;
  background-repeat: no-repeat;
  background-position: left top;
}

.no-favicon a {
  padding-left: 0;
}

a:active {
  position: relative;
  top:1px;
  left:1px;
}

a:hover span {
  display: inline;
  box-shadow:
    0 -2px 0px -0.5px white inset,
    0 -2px 0px rgba(0,0,0,.87) inset;
  text-shadow: 0 0 0px white,
   1px 0 0px white,
   2px 0 0px white,
   -1px 0 0px white,
   -2px 0 0px white,
   1px -1px 0px white,
   2px -1px 0px white,
   -1px -1px 0px white,
   -2px -1px 0px white,
   1px 1px 0px white,
   2px 1px 0px white,
   -1px 1px 0px white,
   -2px 1px 0px white,
   1px -2px 0px white,
   2px -2px 0px white,
   -1px -2px 0px white,
   -2px -2px 0px white;

}
